.container {
}
.editSectionSmall{	
	background:black;
	color:white;
}
.pad-left{
	padding-left: 10px;
}
.white{
	color:white;
}
.blue{
	color:blue;
}
.red{
	color:red;
}
.urlItem{
	padding-top: 5px;
}
.vertical-space{
	padding-top: 10px;
}
.locationRow{
	width: 576px; /* = numCells * (cellWidth + (2 * borderWidth) ) */
}
.locationCell{
	float: left;
	width: 30px;
	height: 30px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}
