.container {
}
.editSectionSmall{	
	background:black;
	color:white;
}
.pad-left{
	padding-left: 10px;
}
.white{
	color:white;
}
.blue{
	color:blue;
}
.red{
	color:red;
}
.urlItem{
	padding-top: 5px;
}
.vertical-space{
	padding-top: 10px;
}
